html, body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(
    135deg,
    #0F172A 0%,
    #1A1A1F 50%,
    #1E1E2F 100%
  ); */
  background: linear-gradient(135deg, #0F172A 0%, #1A1A1F 50%, #1E1E2F 100%);

  overflow-x: hidden;
}


  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;  
  }
